.app {
  min-height: 100vh;
  background-color: #405a39;
  color: white;
  padding-top: 0px;
  padding-bottom: 70px;
}

@media (max-width: 700px) {
  .app {
    padding-top: 70px;
  }
}
/* 
body{
  background-color: burlywood;
} */

.react_movie_app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

/* .pageTitle {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1vw;
  padding: 2px;
  border-radius: 30px;
  color:brown;
  background-color: cadetblue;
  position: sticky;
  top: 0;
  z-index: 100;  
} */

@media (max-width: 1000px) {
  .pageTitle {
    font-size: 6.4vw;
  }
}
* {
  scroll-behavior: smooth;
}

.homepage-bgimage {
  background: url("https://wallpaperaccess.com/full/197277.jpg");
  height: 150vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  background-color: #59395a;
  font-family: "Montserrat", sans-serif;
  font-size: 5vw;
  padding-bottom: 12px;
  box-shadow: 0px 1px 5px black;
  color: white;
  z-index: 100;
}
.search_movie{
  width: auto;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content: left;
  position: sticky;
  top: 0;
  z-index: 100;  
  float:right;
 
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}